.main-container {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 7%;
}

.img {
    display: block;
    height: 100vh;
    object-fit: contain; /* or object-fit: contain; */
  }

  p {
    line-height: 0px;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 0px;
  }